{% extends "base.html"%} {% block content %}

<div class="container">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-md-5 col-12 col-md-11 offset-md-1" style="border-radius: 25px;
    transition: ease;
    box-shadow: 0px 0px 0px;">
                <div class="card-body">
                    <div class="row">
                        <div class="h1 mb-md-2 col-md-12">Изменить пароль</div>
                    </div>
                    <div class="row">
                        <form class="col-md-12 form-group" method="post">

                            {{ form1.hidden_tag() }}
                            <div class="form-group">
                                <div class="h5"><b>Старый пароль</b></div>
                                {{ form1.old_password(class_="form-control form-text", required="")}}
                                {% if form1.old_password.errors %}
                                <div class="alert alert-danger">
                                    <strong>
                                        {%for error in form1.old_password.errors%}
                                        {{error}}
                                        {%endfor%}
                                    </strong>
                                </div>
                                {%endif%}
                            </div>

                            <div class="form-group">
                                <label><b>Пароль</b></label>
                                {{ form1.new_password(class_="form-control", required="", placeholder="0000")}}
                                {% if form1.new_password.errors %}
                                <div class="alert alert-danger">
                                    <strong>
                                        {%for error in form1.new_password.errors%}
                                        {{error}}
                                        {%endfor%}
                                    </strong>
                                </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label><b>Повторите пароль</b></label>
                                {{ form1.check_password(class_="form-control", required="", placeholder="qwerty))))")}}
                                {% if form1.check_password.errors %}
                                <div class="alert alert-danger">
                                    <strong>
                                        {%for error in form1.check_password.errors%}
                                        {{error}}
                                        {%endfor%}
                                    </strong>
                                </div>
                                {% endif %}

                            </div>

                            <button type="submit" class="btn btn-dark col-md-12">Изменить пароль</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mt-md-5 col-12 col-md-11 offset-md-1" style="border-radius: 25px;
    transition: ease;
    box-shadow: 0px 0px 0px;">
                <div class="card-body">
                    <form class="col-md-12 form-group" method="post">
                        {{ form1.hidden_tag() }}

                        <div class="form-group">
                                <div class="h5"><b>Расскажите о себе</b></div>
                                {{ form2.content(class_="form-control form-text", required="")}}
                                {% if form2.content.errors %}
                                <div class="alert alert-danger">
                                    <strong>
                                        {%for error in form2.content.errors%}
                                        {{error}}
                                        {%endfor%}
                                    </strong>
                                </div>
                                {%endif%}
                            </div>

                        <div class="form-group">
                                <label><b>Ваша страна</b></label>
                                {{ form2.region(class_="form-control", required="", placeholder="0000")}}
                                {% if form2.region.errors %}
                                <div class="alert alert-danger">
                                    <strong>
                                        {%for error in form2.region.errors%}
                                        {{error}}
                                        {%endfor%}
                                    </strong>
                                </div>
                                {% endif %}
                            </div>


                        <button type="submit" class="btn btn-dark col-md-12">Рассказать о себе</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}