<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="/static/assets/js/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><i class="fa d-inline fa-lg fa-cloud"></i><b>мой супер сайт</b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav">
                {% block spanleft %}{% endblock %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="true">Cтатьи&nbsp;</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="{{ url_for('website.display_topics') }}">Все статьи</a>

                        <a class="dropdown-item" href="{{ url_for('website.create_topic') }}">Создать статью</a>

                        {% if session.get('id', '')!='' %}

                        <a class="dropdown-item" href="{{url_for('website.user_bio', user_id=session.get('id', '')) }}">Мои статьи</a>

                        {%endif%}

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Аккаунт&nbsp;</a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        {% if session.get('id', '')!='' %}

                        <a class="dropdown-item" href="{{url_for('website.user_bio', user_id=session.get('id', '')) }}"> Мой аккаунт </a>

                        <a class="dropdown-item" href="{{ url_for('website.change_account') }}">Изменить
                            настройки</a>
                        <a class="dropdown-item" href="{{ url_for('website.exit') }}">Выход</a>

                        {% else %}

                        <a class="dropdown-item" href="{{ url_for('website.login') }}">Вход</a>

                        <a class="dropdown-item" href="{{ url_for('website.register') }}">Регистрация</a>
                        {%endif%}

                    </div>
                </li>


            </ul>
        </div>
    </div>
</nav>
<div class="container">
</div>
{% block content %} {% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>