{% extends "base.html" %} {% block content %}

<div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-7">
                        <div class="card p-5 text-dark" style="box-shadow: 0px 0px 0px;">
                            <div class="card-body">
                                <h1 class="mb-4">Войти</h1>
                                <form method="POST">

                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label><b>Логин</b> </label>
                                        {{ form.name(class_="form-control", required="", placeholder="Коралл")}}
                                        {% if form.name.errors %}
                                            <div class="alert alert-danger">
                                            <strong>
                                            {%for error in form.name.errors%}
                                            {{error}}
                                        {%endfor%}
                                            </strong>
                                        </div>
                                    {%endif%}

                                    </div>
                                    <div class="form-group">
                                        <label><b>Пароль</b></label>
                                        {{ form.password(class_="form-control", required="", placeholder="Ваш пароль")}}
                                        {% if form.password.errors %}
                                        <div class="alert alert-danger">
                                            <strong>
                                            {%for error in form.password.errors%}
                                            {{error}}
                                        {%endfor%}
                                            </strong>
                                        </div>
                                    {% endif %}
                                    </div>
                                    <button type="submit" class="btn btn-dark col-md-12">Войти</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-5 align-self-center">
                        <h3>Еще нет аккаунта?</h3>
                        <p class="my-3">Зарегистрируйтесь</p>
                        <a class="btn btn-dark" href="{{ url_for('website.register') }}" role="button">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>
        </div>


{% endblock %}
