{% extends "base.html"%} {% block content %}

<div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-5 align-self-center ">
                        <h3>Уже есть аккаунт?</h3>
                        <p class="my-3">Войдите</p>
                        <a class="btn btn-dark" href="{{ url_for('website.login') }}" role="button">Войти</a>
                    </div>
                    <div class="col-md-6 col-xs-7">
                        <div class="card p-5 text-dark" style="box-shadow: 0px 0px 0px;">
                            <div class="card-body">
                                <h1 class="mb-4">Регистрация</h1>
                                <form method="POST">

                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label><b>Имя</b> </label>
                                        {{ form.name(class_="form-control", required="", placeholder="я крутой программист")}}
                                        {% if form.name.errors %}
                                            <div class="alert alert-danger">
                                            <strong>
                                            {%for error in form.name.errors%}
                                            {{error}}
                                        {%endfor%}
                                            </strong>
                                        </div>
                                    {%endif%}

                                    </div>
                                    <div class="form-group">
                                        <label><b>Пароль</b></label>
                                        {{ form.password(class_="form-control", required="", placeholder="0000")}}
                                        {% if form.password.errors %}
                                        <div class="alert alert-danger">
                                            <strong>
                                            {%for error in form.password.errors%}
                                            {{error}}
                                        {%endfor%}
                                            </strong>
                                        </div>
                                    {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label><b>Повторите пароль</b></label>
                                        {{ form.check_password(class_="form-control", required="", placeholder="qwerty))))")}}
                                        {% if form.check_password.errors %}
                                        <div class="alert alert-danger">
                                            <strong>
                                            {%for error in form.check_password.errors%}
                                            {{error}}
                                        {%endfor%}
                                            </strong>
                                        </div>
                                    {% endif %}

                                    </div>
                                    <button type="submit" class="btn btn-dark col-md-12">Зарегистрироваться</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>
        </div>

   {% endblock %}