{% extends "base.html"%} {% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-11">
                <div class="card p-5 text-dark" style="box-shadow: 0px 0px 0px;">
                    <div class="card-body bg-dark">
                        <div class="row">
                            <div class="col-sm bg-warning text-light">
                                Автор
                            </div>

                            <div class="col-sm text-light">
                                Статья
                            </div>
                        </div>

                        {% for topic in topics %}
                        <div class="row">
                            <div class="col-sm bg-warning">
                                <li><a href="{{url_for('website.user_bio', user_id=topic.author_id) }}">{{ User.query.filter_by(id=topic.author_id ).first().name }}</a></li>
                            </div>

                            <div class="col-sm">
                                <a href="{{url_for('website.topic', topic_id=topic.id) }}">{{ topic.name }} </a>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}