{% extends "base.html"%} {% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-11">
                <div class="card p-5 text-dark" style="box-shadow: 0px 0px 0px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                {{Topic.name}}
                            </div>
                            <div class="col-sm">
                                Автор - <a href="{{url_for('website.user_bio', user_id=User.id) }}">{{ User.name }}</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <a>{{ Topic.content }} </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}