{% extends "base.html" %} {% block content %}

<div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-7">
                        <div class="card p-5 text-dark" style="box-shadow: 0px 0px 0px;">
                            <div class="card-body">
                                <h1 class="mb-4">Создать статью</h1>
                                <form method="POST">

                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <label><b>Название статьи</b> </label>
                                        {{ form.name(class_="form-control", required="", placeholder="Коралл")}}
                                        {% if form.name.errors %}
                                            <div class="alert alert-danger">
                                            <strong>
                                            {%for error in form.name.errors%}
                                            {{error}}
                                        {%endfor%}
                                            </strong>
                                        </div>
                                    {%endif%}

                                    </div>
                                    <div class="form-group">
                                        <label><b>Напишите что нибудь</b></label>
                                        {{ form.content(class_="form-control", required="", placeholder="Ваш content")}}
                                        {% if form.content.errors %}
                                        <div class="alert alert-danger">
                                            <strong>
                                            {%for error in form.content.errors%}
                                            {{error}}
                                        {%endfor%}
                                            </strong>
                                        </div>
                                    {% endif %}
                                    </div>
                                    <button type="submit" class="btn btn-dark col-md-12">Создать</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-6"> </div>
                </div>
            </div>
        </div>


{% endblock %}
