{% extends "base.html"%} {% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-11">
                <div class="card p-5 text-dark" style="box-shadow: 0px 0px 0px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm">
                                Пользователь: {{username}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm"> Страна</div>
                            <div class="col-sm"> {{region}}</div>
                        </div>

                        <div class="row">
                            <div class="col-sm"> О себе</div>
                            <div class="col-sm"> {{bio}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-11">
                <div class="card p-5 text-dark" style="box-shadow: 0px 0px 0px;">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm">
                                Статьи пользователя {{username}}:
                            </div>
                        </div>
                        {% for topic in topics %}
                        <div class="row">
                            <div class="col-sm">
                                <a href="{{url_for('website.topic', topic_id=topic.id) }}">{{ topic.name }} </a>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}